<ion-header>
  <ion-toolbar>
    <ion-title>Geolocation</ion-title>
    <ion-buttons slot="end">
      <ion-button color="warning" href="/tabs/home">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  Add the following functionality to this page:
  <ul>
    <li>Read you current geolocation</li>
    <li>Display longitute and latitute</li>
    <li>Display a marker on a map</li>
  </ul>
</ion-content>
